@page "/InStock01"
@using WonWorld.Data;
@using System.Data.SqlClient;
@using System.Data.SqlTypes;
@inject IJSRuntime JSRuntime
<div class="d-flex justify-content-center algin-items-center">
    <div class="btn btn-primary " @onclick="()=>ShowInStockModal()">입고 추가</div>
</div>
<div class="table-responsive">
    <table class="table table-bordered" id="saletable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>입고 일자</th>
                <th>입고 번호</th>
                <th>입고 총 수량</th>
                <th>입고 품목수</th>
                <th>입고 총 금액</th>
                <th>생성 일자</th>
                <th>생성자</th>
              
            </tr>
        </thead>
        <tbody>
            @foreach (var i in DataSource)
            {
                <tr>
                    <td>@i.InDate</td>
                    <td>@i.InmID</td>
                    <td>@i.Qty</td>
                    <td>@i.ItemCount</td>
                    <td>@i.TotalPrice</td>
                    <td>@i.CreateDate</td>
                    <td>@i.CreateUser</td>
                  
                </tr>
            }

        </tbody>
    </table>
</div>
@if (IsStockModalShow)
{
<InStockAdd></InStockAdd>
    
}

@code {
    List<WonWorld.Models.InStockMaster> DataSource = new List<WonWorld.Models.InStockMaster>();
    DbConnector Db = new DbConnector();
    InStockAdd StockRef = new InStockAdd();
    private string Title { get; set; }
    private string Content { get; set; }
    private bool IsStockModalShow { get; set; } = false;
    protected override async Task OnParametersSetAsync()
    {
        await DataBind();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

            await JSRuntime.InvokeAsync<object>("TestDataTablesAdd", "#saletable");

        }
    }

    private async Task DataBind()
    {
        await Task.Delay(0);
        Db.Open();
        var sql = " select * from InStockMaster";
        SqlCommand cmd = new SqlCommand(sql, Db.conn);
        var dataReader = cmd.ExecuteReader();
        DataSource = Db.GetList<WonWorld.Models.InStockMaster>(dataReader);


        Db.Close();
    }

    private async void ShowInStockModal()
    {
        await Task.Delay(0);
        //await StockRef.();

    }

}
